<section class="about">
    <div class="content">
        <div class="inner">
            <h2>Biljettapp</h2>
            {% if page.lang == 'en' %}
                <p><strong>Relevant information for your train trip in real-time.</strong> Updates about departure track and time.</p>
                <a href="https://passbook.biljettapp.se/TEST0001" class="button" id="test" style="display:none" onclick="_gaq.push(['_trackEvent', 'Passbook', 'Download', 'TEST0001']);">Open example in Passbook</a>
            {% else %}
                <p><strong>Din tågbiljett som den borde vara: personlig, uppdaterad &amp; tillgänglig.</strong> Aktuellt avgångsspår samt eventuella förseningar i realtid.</p>
                <a href="https://passbook.biljettapp.se/TEST0001" class="button" id="test" style="display:none" onclick="_gaq.push(['_trackEvent', 'Passbook', 'Download', 'TEST0001']);">Öppna exempel i Passbook</a>
                <p><em><a href="/en/">Don't know swedish?</a></em></p>
            {% endif %}
        </div>
    </div>
</section>