<section class="about">
    <div class="content">
        <div class="inner">
            <h2>Biljettapp</h2>
            <ul>
                <li>Personlig reseinformation</li>
                <li>Realtid via <a href="/passbook/" title="Tågbiljetter i Passbook">Passbook</a></li>
            </ul>
            <ul class="links">
                <li><a href="https://twitter.com/{{ site.twitter }}" class="twitter">Biljettapp på Twitter</a></li>
                <li><a href="https://www.facebook.com/{{ site.facebook }}" class="facebook">Biljettapp på Facebook</a></li>
            </ul>

            <div class="quotes">
                <blockquote>
                    Precis det jag har saknat när jag åker tåg. <cite>– Jonas Lejon</cite>
                </blockquote>
            </div>
        </div>
    </div>
</section>