<section class="about">
    <div class="content">
        <div class="inner">
            <h2>Biljettapp</h2>
            <p><strong>Relevant information om din tågresa i realtid.</strong> Exempelvis aktuellt avgångsspår och eventuella förseningar.</p>
            <a href="https://passbook.biljettapp.se/TEST0001" class="button" id="test" style="display:none" onclick="_gaq.push(['_trackEvent', 'Passbook', 'Download', 'TEST0001']);">Öppna exempel i Passbook</a>
        </div>
    </div>
</section>