<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="sv"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="sv" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="sv" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]> <!--> <html class="no-js" lang="sv"> <!--<![endif]-->
    <head>
        <link rel=stylesheet href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" />

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
        {% if page.robots %}
            <meta name="robots" content="{{ page.robots }}" />
        {% endif %}

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1" />

        <meta property="og:title" content="{{ page.title }}" />
        {% if page.description %}
            <meta property="og:description" content="{{ page.description }}" />
        {% endif %}
        {% if page.image %}
            <meta property="og:image" content="{{ site.url }}/images/{{ page.image }}" />
        {% endif %}
        <meta property="og:url" content="{{ site.url }}{% unless page.url == '/index.html' %}{{ page.url }}{% endunless %}" />
        <meta property="og:site_name" content="{{ site.title }}" />

        <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/style.css" media="all" />
        <link rel="stylesheet" href="/css/print.css" media="print" />

        <link type="text/plain" rel="author" href="/humans.txt" />

        <!--[if lt IE 9]>
            <script src="/js/html5shiv.js"></script>
        <![endif]-->
        <script>
            var _gaq = [['_setAccount', 'UA-{{ site.analytics.profile }}-1'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.src = '//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            }(document, 'script'));
        </script>
    </head>
    <body>

        {% unless page.url == '/index.html' or page.url == '/en/index.html' %}
        <header role="banner">
            <div class="content">
                <a href="/" title="Om Biljettapp" role="navigation">Om</a>
                <a href="/">Biljettapp</a>, din tågbiljett
            </div>
        </header>
        {% endunless %}

        {{ content }}

        <footer role="contentinfo">
            <div class="content">
                &copy; Biljettapp. <span>iPhone, iPod &amp; Passbook är varumärken som tillhör Apple Inc.</span>
            </div>
        </footer>

        <script src="/js/jquery.js"></script>
        <script>
            var test = document.getElementById('test');
            if(test &&
                (navigator.userAgent.match(/iPhone OS 6/) || navigator.userAgent.match(/OS X 10_8_2/))) {
                if(!navigator.userAgent.match(/Chrome/)) {
                    test.style.display = '';
                }
                if(!navigator.userAgent.match(/Safari/)) {
                    test.href = '#';
                    test.removeAttribute('class');
                    test.removeAttribute('onclick');
                    test.innerHTML = '<strong>Öppna i Safari för att testa.</strong>';
                }
            }

            $(document).ready( function () {
                var form = $('#subscribe');

                if(form.length > 0) {
                    $('#submitEmail').bind('click', function (e) {
                        if(e) e.preventDefault();
                        var button = $(this);
                        button.attr('disabled', 'disabled').attr('value', 'Sparar…');
                        $.ajax({
                            type: form.attr('method'),
                            url: form.attr('action'),
                            data: form.serialize(),
                            cache: false,
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            error: function(err) {
                                alert("Det där gick inte så bra, försök gärna igen.");
                            },
                            success: function(data) {
                                if (data.result != "success") {
                                    alert('Vänligen kontrollera din e-postadress');
                                    button.removeAttr('disabled').attr('value', 'Försök igen');
                                } else {
                                    form.remove();
                                    _gaq.push(['_trackEvent', 'Subscription', 'Email', 'Beta']);
                                    $('.subscribe-notice').html('<strong>Kul att du vill vara med!</strong> Ett meddelande har skickats till dig för att bekräfta. <em>– Vi hörs snart igen</em>');
                                }
                            }
                        });
                    });
                }
            });
        </script>
    </body>
</html>